a:active {
    text-decoration: none;
}
a:link, a:visited {
	text-decoration: none
	}
a:hover {
	text-decoration: underline; 
	color: #f00
	}

a:hover.vermaisbold{
    font-weight: bold;
}

li {
    margin-bottom: 10px;
  }

p.borda{   
    border-top: 1px solid black;
    list-style-type: none; 
}  
#cabecalho {
    background-color: red;
    padding: 10px;
}
#cabecalho a {
    color: white;
    margin: 0 20px;
}
#cabecalho a:hover {
    text-decoration: underline;
}
#corpo {
    margin: 20px;
}
table {
    border-collapse: collapse;
}
table td,
table th {
    border: 1px solid black;
    padding: 5px 10px;
}
table td.greenfont{
    color: green;
    border: none;
}

table td.bordernonetd{
    border: none;
}
table th.bordernoneth{
    border: none;
}
#turmas {
    margin-top: 20px;
}
#turmas caption a {
    font-size: 0.9em;
    margin-left: 10px;
}

.menu-ativo{
    font-weight: bold
}